<div class="bio">
  <div class="bio__header">
  	<a href="{{ site.url }}{{ "/" | relative_url }}">
	  {{ site.header }}
	</a>
  </div>
  <div class="bio__desc">{{ site.desc }}</div>
  {% if site.data.social %}
    <ul class="bio__social">
      {% for item in site.data.social %}
        <li class="social__Link">
		<a href="{{ item.url}}">
			<div class="social {% if include.uid == item.url %}social__active{% endif %}" href="{{ item.url }}" target="_self">
				{{ item.title }}
			</div>
		</a>
	</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
