$on-palm:           600px !default;
$on-laptop:         800px !default;

// typography
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,300&display=swap');
$font__family:      'Inter', sans-serif;
$font__size:        16px;
$font__weight:      300;
$font__line-height: 2;

@font-face {
    font-family: 'Cardinal Fruit';
    src: url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic.woff2') format('woff2'),
        url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic.woff') format('woff'),
        url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

// colors
$color__black:      #273B61;
$color__gray:       #273B61;
$color__beige:      #E0C3C8;
$color__yellow:     #F3F3F3;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// elements
* {
  box-sizing: border-box;
}

::selection {
  background: $color__yellow;
}

::-moz-selection {
  background: $color__yellow;
}

h1 {
  font-family: 'Cardinal Fruit';
  font-size: 50px;
  font-weight: normal;
  line-height: 1.25;
  color: $color__black;
  font-display: block;
}

hr {
  color: $color__black;
  background-color: $color__black;
}

a {
  color: $color__black;
  font-display: block;
    
  &:link {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &:visited {
    font-style: italic;
    text-decoration: none;
  }
    
  &:hover {
    font-style: italic;
    text-decoration: none;
  }
    
  &:active {
    font-style: italic;
    text-decoration: none;
  }
}

// layout
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

figcaption {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    color: $color__black;
    line-height: 1.5;
}

body {
  width: 100%;
  margin: 25px 0;
  padding: 0;
  font-display: block;
  background: $color__beige;
  font-family: $font__family;
  font-size: $font__size;
  font-weight: $font__weight;
  line-height: $font__line-height;
  color: $color__black;
}

.container {
  max-width: 1200px;
  margin: 0 25px;
}

// media queries
@include media-query($on-palm) {
  body {
    margin: 50px 0 25px;
  }

  .container {
    margin: 0 50px;
  }
}

@include media-query($on-laptop) {
  body {
    margin: 120px 0 50px;
  }

  .container {
    margin: 0 120px;
  }
}
