$on-palm:           600px !default;
$on-laptop:         800px !default;

// typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$opensans:       'Open Sans', monospace;
$font__size:        14px;
$font__weight:      300;
$font__line-height: 2;

@font-face {
    font-family: 'Cardinal Fruit';
    src: url('CardinalFruit-MediumItalic.eot');
    src: url('CardinalFruit-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CardinalFruit-MediumItalic.ttf') format('truetype'),
        url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic.woff2') format('woff2'),
        url('CardinalFruit-MediumItalic.svg#CardinalFruit-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

// colors
$color__black:      #262626;
$color__gray:       #262626;
$color__beige:      #F4F3EE;
$color__yellow:     #EFE8D8;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// elements
* {
  box-sizing: border-box;
}

::selection {
  background: $color__yellow;
}

::-moz-selection {
  background: $color__yellow;
}

h1 {
  font-display: block;
  font-family: 'Cardinal Fruit';
  font-style: italic;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.25;
  font-color: $color__black;

}

hr {
  color: $color__black;
  background-color: $color__black;
}

a {
  color: $color__black;
  text-decoration: underline;
  font-display: block;

  &:visited {
    color: $color__black;
    font-style: italic;
  }
    
  &:hover {
    color: $color__black;
    font-style: italic;
  }
    
  &:active {
    color: $color__black;
    font-style: italic;
  }
}

// layout
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

figcaption {
    font-size: 12px;
    text-align: center;
}

body {
  width: 100%;
  margin: 25px 0;
  padding: 0;
  font-display: block;
  background: $color__beige;
  font-family: $opensans;
  font-size: $font__size;
  font-weight: $font__weight;
  line-height: $font__line-height;
  font-color: $color__black;
}

.container {
  max-width: 1200px;
  margin: 0 25px;
}

// media queries
@include media-query($on-palm) {
  body {
    margin: 50px 0 25px;
  }

  .container {
    margin: 0 50px;
  }
}

@include media-query($on-laptop) {
  body {
    margin: 120px 0 50px;
  }

  .container {
    margin: 0 120px;
  }
}
