$on-palm:           600px !default;
$on-laptop:         800px !default;

// typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$opensans:       'Open Sans', monospace;
$font__size:        15px;
$font__weight:      300;
$font__line-height: 2;

@font-face {
    font-family: 'Cardinal Fruit';
    src: url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic_1.eot');
    src: url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic_1.eot?#iefix') format('embedded-opentype'),
        url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic_1.woff2') format('woff2'),
        url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic_1.woff') format('woff'),
        url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic_1.ttf') format('truetype'),
        url('https://comoballar.github.io/assets/fonts/CardinalFruit-MediumItalic_1.svg#CardinalFruit-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

// colors
$color__black:      #3B465C;
$color__gray:       #3B465C;
$color__beige:      #D0B2B7;
$color__yellow:     #F3F3F3;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// elements
* {
  box-sizing: border-box;
}

::selection {
  background: $color__yellow;
}

::-moz-selection {
  background: $color__yellow;
}

h1 {
  font-display: block;
  font-family: 'Cardinal Fruit';
  font-style: italic;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.25;
  color: $color__black;

}

hr {
  color: $color__black;
  background-color: $color__black;
}

a {
  color: $color__black;
  font-display: block;
    
  &:link {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  &:visited {
    font-style: italic;
    text-decoration: none;
  }
    
  &:hover {
    font-style: italic;
    text-decoration: none;
  }
    
  &:active {
    font-style: italic;
    text-decoration: none;
  }
}

img {
    border: 1px solid $color__black;

    &:landscape {
        max-width: 90%;
    }
    
    &:portrait {
        max-width: 60%;
    }
}

// layout
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

figcaption {
    font-size: 13px;
    text-align: center;
    color: $color__black;
}

body {
  width: 100%;
  margin: 25px 0;
  padding: 0;
  font-display: block;
  background: $color__beige;
  font-family: $opensans;
  font-size: $font__size;
  font-weight: $font__weight;
  line-height: $font__line-height;
  color: $color__black;
}

.container {
  max-width: 1200px;
  margin: 0 25px;
}

.portrait-img {
  border: 1px solid $color__black;
  max-width: 60%;
  }
  
.portrait-img {
  border: 1px solid $color__black;
  max-width: 90%;
  }

// media queries
@include media-query($on-palm) {
  body {
    margin: 50px 0 25px;
  }

  .container {
    margin: 0 50px;
  }
}

@include media-query($on-laptop) {
  body {
    margin: 120px 0 50px;
  }

  .container {
    margin: 0 120px;
  }
}
