.bio {
  max-width: 500px;
  margin-bottom: 50px;
}

.bio__header {
  margin-bottom: 20px;
  font-display: block;
  font-family: 'Cardinal Fruit';
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  font-color: $color__black;

  a {
    text-decoration: none;
    font-display: block;

  	&:hover {
  		text-decoration: none;
      font-display: block;
  	}
  }
}

.bio__social {
  max-width: 100px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

// behaviors

.social__notactive {
  list-style: none;
  text-decoration: none;
}

.social__active {
  font-style: italic;
  display: inline;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-decoration: none;
}
