.bio {
  max-width: 500px;
  margin-bottom: 50px;
}

.bio__header {
  margin-bottom: 20px;
  font-display: block;
  font-family: 'Cardinal Fruit';
  font-style: italic;
  font-size: 30px;
  font-weight: 400;
  font-color: $color__black;

  a {
    text-decoration: none;
    font-display: block;
    display: block;
    
    &:hover {
      text-decoration: none;
      font-style: italic;
      display: block;
    }
  }
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  color: $color__black;
  font-family: $opensans;
  font-display: block;
  
  a {
    text-decoration: none;
    font-display: block;
    display: block;
    
    &:hover {
      text-decoration: none;
      font-style: italic;
      display: block;
    }
  }
}

.social__link {
  overflow: hidden;
  display: block;
}  

// behaviors
.social__active {
  font-style: italic;
  display: block;
}
