.footer {
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.footer__cols,
.footer__post {
  display: block;
  margin-bottom: 10px;
}

.footer__cols {
  font-weight: 300;
  overflow: hidden;
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: $color__black;
}

.footer__post {
  width: 100%;
  overflow: hidden;
}

.footer__title,
.footer__date,
.footer__cat {
  float: left;
  color: $color__black;
}

.footer__title {
  width: 100%;
}

.footer__date,
.footer__cat {
  width: auto;
}

.footer__cat {
  position: relative;
  margin-left: 10px;

  &:before {
    position: absolute;
    content: '|';
    left: -9px;
  }
}

.footer__body {
  margin: 20px 0;
}


// behaviors
.footer__active {
  text-decoration: line-through;
}

// media queries
@include media-query($on-laptop) {
  .footer__post {
      &:hover {
      * {
        text-style: italic;
        cursor: pointer;
        color: $color__black;
      }

      .footer__active {
        text-decoration: line-through;
        color: $color__black;
      }
    }    
  }
}

@include media-query($on-palm) {
  .footer__cols,
  .footer__post {
    margin: 0;
  }

  .footer__title {
    width: 50%;
  }

  .footer__date,
  .footer__cat {
    width: 25%;
  }

  .footer__cat {
    margin: 0;

    &:before {
      content: '';
    }
  }
}
