.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244,243,238,0.8);
  text-align: center;
  z-index: 999;

  &:target {
    outline: none;
    display: block;
    cursor: url('cursor.png'), default;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
  }
}
